.header {
    margin: 50px 0px 100px 0px;
    border: 16px;
    text-align: center;
}

.banner-img {
    background-image: url('../resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto width: 1320px;
    height: 600px;
    font-family: 'Merriweather', serif;
    text-align: center;
    
}

.b1 {
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}


.b2 {
    color: white;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 383px;
}


/* section part */

.discount {
    text-align: center;
}

.sixty-five {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;

}

.our {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.all {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    font: 3em sans-serif;

}